/* Add your own custom styles here */

/*@import "tailwindcss";*/
a:link {
  color: #0090ca;
}

a:hover {
  /*background: #abffff;
  border-radius: 5px;*/
  text-decoration: underline;
}

.nav-item { margin-left: 15px; margin-right: 15px; letter-spacing: 0.5px;  font-weight: normal;font-size: 21px}

.container-slim {
  @apply mx-auto px-4 md:max-w-[760px];
}

.marcellus-regular {
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
}

.andada {
  font-family: "Andada", serif;
  font-weight: 400;
  font-style: normal;
}

.atkinson {
  font-family: "atkinson-hyperlegible", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*@font-face {
  font-family: "atkinson-hyperlegible";
  src: url('../fonts/AtkinsonHyperlegible/WOFF2/Atkinson-Hyperlegible-Regular-102a.woff2') format('woff2'), url('../fonts/AtkinsonHyperlegible/WOFF2/Atkinson-Hyperlegible-Regular-102a.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}*/


/**** Article section *****/
.container-slim p {margin-bottom: 24px}