/* Add your own custom styles here */

/*@import "tailwindcss";*/
p a, .project-box a {
  /*color: #0090ca;*/
  color: #0091a3;
  border-bottom: 1px dashed #0091a3;
}

.project-box  a{
  color: #c16c55;
  border-bottom: 1px dashed #c16c55
  /*text-decoration: underline;*/
}

p a:hover {
  border-bottom: 3px solid #0091a3;
}

.project-box  a:hover {
  border-bottom: 3px solid #c16c55;
}

main {min-height: 80vh}

.nav-item { 
  margin-left: 15px; 
  margin-right: 15px; 
  letter-spacing: 0.5px;  
  font-weight: normal; 
  font-size: 21px
}

.nav-item:hover {
  background: #e6f6d1;
  border-radius: 10px;
}

.container-slim {
  @apply mx-auto px-4 md:max-w-[760px];
}

.container-800 {
   @apply mx-auto px-4 md:max-w-[800px];
}

.container-small {
  @apply mx-auto px-4 md:max-w-[760px] lg:max-w-[960px];
}

.container {
  @apply mx-auto px-4 md:max-w-[760px] lg:max-w-[960px] 2xl:max-w-[1200px];
}

.cotainer-mid {
   @apply mx-auto px-4 md:max-w-[760px] lg:max-w-[960px]  2xl:max-w-[1360px];
}

.container-wide {
  @apply mx-auto md:max-w-[760px] lg:max-w-[960px]  2xl:max-w-[1530px];
}


.marcellus-regular {
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
}

.andada {
  font-family: "Andada", serif;
  font-weight: 400;
  font-style: normal;
}

.atkinson {
  font-family: "atkinson-hyperlegible", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/*@font-face {
  font-family: "atkinson-hyperlegible";
  src: url('../fonts/AtkinsonHyperlegible/WOFF2/Atkinson-Hyperlegible-Regular-102a.woff2') format('woff2'), url('../fonts/AtkinsonHyperlegible/WOFF2/Atkinson-Hyperlegible-Regular-102a.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}*/


/**** Article section *****/
.container-slim p {margin-bottom: 24px}